<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.car.dao.CarDao">
    <!-- table to bean mapper -->
    <resultMap id="BaseResultMap" type="com.car.entity.Car">
        <id column="car_id" property="carId" jdbcType="BIGINT"/>
        <result column="owner_id" property="ownerId" jdbcType="BIGINT"/>
        <result column="license_province" property="licenseProvince" jdbcType="VARCHAR"/>
        <result column="plate_number" property="plateNumber" jdbcType="VARCHAR"/>
        <result column="car_series" property="carSeries" jdbcType="VARCHAR"/>
        <result column="engine_number" property="engineNumber" jdbcType="VARCHAR"/>
        <result column="car_vin" property="carVin" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="BIGINT"/>
        <result column="createTime" property="createTime" jdbcType="VARCHAR"/>
        <result column="updator" property="updator" jdbcType="BIGINT"/>
        <result column="updateTime" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        car_id,owner_id,license_province,plate_number,car_series,engine_number,car_vin,
      creator,createTime,updator,updateTime
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_car
        WHERE
        car_id = #{carId,jdbcType=BIGINT}
    </select>

    <select id="selectCarByParams" resultMap="BaseResultMap" parameterType="com.car.entity.Car">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_car
        WHERE
        1 = 1
        <if test="plateNumber!=null">
            AND plate_number = #{plateNumber,jdbcType=VARCHAR}
        </if>
        <if test="engineNumber!=null">
            AND engine_number = #{engineNumber,jdbcType=VARCHAR}
        </if>
        <if test="ownerId!=null">
            AND owner_id = #{ownerId,jdbcType=BIGINT}
        </if>
    </select>

    <insert id="insert" parameterType="com.car.entity.Car">
        INSERT INTO t_car (
        owner_id,license_province,plate_number,car_series,engine_number,car_vin,
        creator,createTime,updator,updateTime
        ) VALUES (
        #{ownerId,jdbcType=BIGINT},
        #{licenseProvince,jdbcType=VARCHAR},#{plateNumber,jdbcType=VARCHAR},#{carSeries,jdbcType=VARCHAR},
        #{engineNumber,jdbcType=VARCHAR},#{carVin,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},#{createTime,jdbcType=VARCHAR},#{updator,jdbcType=BIGINT},
        #{updateTime,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.car.entity.User">
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_car
        where carId = #{carId,jdbcType=BIGINT}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.car.entity.User">

    </update>

    <update id="updateByPrimaryKey" parameterType="com.car.entity.User">
    </update>

</mapper>        